body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    font-size: 18px;
    width: 960px;
    max-width: 960px;
    margin: auto;

}

header {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10%;
    width: 960px;
    padding: 0%;
    

}

.topnav {
    overflow: hidden;
    float: right;
    margin: 0%;
    text-align: center;
    padding: 0%;
    
}

nav {
    background-color: #ebebeb;
    float: right;
    overflow: hidden;
    top: 0%;
    margin: 0%;
    padding: 0%;
}

#about {
    float: right;

}
#portfolio {
    float: right;
}
#Contact {
    float: right
}

section { clear: both;
    background-color: #ebebeb;
    width: 495px;
    position: center;
    height: 450px;


}

.aboutme {
    margin: 0%;
}


footer {
    background-color: #666666;
    width: 320px;
    clear: both;
    width: 960px;

}

article {
    background-color: #ebebeb;
    color: #777
}


