body {
    background: lightgray;
    margin: 0;
    width: 960px;
    font-weight: 300px;
    position: center;
}

.container {
    width: 960px;
    margin: 0 auto;
}
header {
    background: white;
}
header::after {
    content: " ";
    display: table;
    clear: both;

}

h1 {
    float: left;
    padding: 10 0;
    
}

nav {
    float: right;
}
nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
}

nav a {
    color: #777777;
    text-decoration: none;

}

nav a:hover {
    color: teal;
}

#full { 
   
    padding: 200px;
    margin: 30px;
    background: #ffffff

}

aside {

}

footer {
    height: 30px;
    
}